<h1>Todos</h1>
<ul>
{% for todo in todos %}
    <li>
        <form method="POST" action="/set-complete/todo/{{ todo.getId() }}">
            <button type="submit">It is done.</button>
        </form>
        <form method="POST" action="/delete/todo/{{ todo.getId() }}">
            <button type="submit">Delete</button>
        </form>
        <button><a href="/update/todo/{{ todo.getId() }}">Update</a></button>
    </li>
    <li>{{ todo.getName() }}</li>
    <li>{{ todo.getDescription() }}</li>
    <li>{{ todo.getDueAt() }}</li>
    <br/>
{% endfor %}
</ul>
<form method="POST" action="/create/todo">
    <div>New todo:</div>
    {% if 'empty_name' in errors %}
        <p>Please fill the name field out.</p>
    {% endif %}
    {% if 'empty_description' in errors %}
        <p>Please fill the description field out.</p>
    {% endif %}
    {% if 'empty_due_at' in errors %}
        <p>Please fill the due at field out.</p>
    {% endif %}
    <input type="string" name="name" placeholder="Todo name">
    <input type="string" name="description" placeholder="Description">
    <input type="string" name="due_at" placeholder="Due date">
    <button type="submit">Create</button>
</form>